<div class="categories">
    <button class="categories-all-btn categories-btn-js" >All categories</button>
   
    <div class="categories-list-box">
        <ul class="categories-list categories-list-js">
            <li class="categorie">Beef</li>
            <li class="categorie">Breakfast</li>
            <li class="categorie">Chicken</li>
            <li class="categorie">Dessert</li>
            <li class="categorie">Goat</li>
            <li class="categorie">Lamb</li>
            <li class="categorie">Miscellaneous</li>
            <li class="categorie">Pasta</li>
            <li class="categorie">Pork</li>
            <li class="categorie">Seafood</li>
            <li class="categorie">Side</li>
            <li class="categorie">Starter</li>
            <li class="categorie">Vegan</li>
            <li class="categorie">Vegetarian</li>
            
        </ul>
    </div>

</div>  
