<div class="main-products container">
    <div class="filter-form" id="filter-form">
        <ul class="filter-form-list">
            <li class="filter-form-item">
                <label for="search-input">

                    Search</label>
                <input type="text" name="search-input" autocomplete="off" placeholder="Enter text" />
            </li>
            <li class="filter-form-item">
                <label for="time-input">Time</label>
                <select class="time-select" name="time-input">
                    <option value="">0 min</option>
                    <option value="10">10 min</option>
                    <option value="20">20 min</option>
                    <option value="30">30 min</option>
                    <option value="40">40 min</option>

                </select>
            </li>
            <li class="filter-form-item">
                <label for="area-input">Area</label>
                <select class="area-select" name="area-input">
                    <option value="">Region</option>
                </select>
            </li>
            <li class="filter-form-item">
                <label for="ingredients-input">Ingredients</label>
                <select class="ingredients-select" name="ingredients-input">
                    <option value="">Product</option>
                </select>

            </li>
        </ul>
    </div>
    <button class="filter-form-btn" type="button">
        <svg class="search-form-reset-icon" width="17" height="17">
            <use href="./img/icons.svg#close"></use>
        </svg>
        Reset the filter
    </button>
    <div class="filter-gallery">
    </div>
</div>