<section class="section hero-item container">
  <!-- LEFT SIDE -->
  <div class="left-side">
    <h1 class="hero-title">
      Learn to Cook <span class="hero-title-part">Tasty Treats'&nbsp;</span>
      Customizable Masterclass
    </h1>

    <p class="hero-desc">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>

    <button type="submit" class="hero-order-btn js-open-modal" data-modal="2">
      Order now
    </button>
  </div>

  <div class="right-side">
    <div class="swiper js-hero-slider">
      <!-- Additional required wrapper -->

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
