<section class="section hero-item container">
  <!-- LEFT SIDE -->
  <div class="left-side">
    <h1 class="hero-title">
      Learn to Cook <span class="hero-title-part">Tasty Treats'&nbsp;</span>
      Customizable Masterclass
    </h1>

    <p class="hero-desc">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>

    <button type="submit" class="hero-order-btn js-open-modal" data-modal="2">
      Order now
    </button>
  </div>

  <div class="right-side">
    <div class="swiper js-hero-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="chief">
            <picture>
              <source srcset="" type="image/webp" />
              <source srcset="" type="image/jpg" />
              <img class="chief-pic" src="" alt="" height="100" />
            </picture>
          </div>

          <div class="dish">
            <img class="dish-img" src="" alt="" />
            <h1 class="dish-title"></h1>
            <p class="dish-country"></p>
          </div>

          <div class="preview">
            <img class="preview-img" src="" alt="" />
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
