<section class="container section-hero">
  <div class="hero-container">
    <div class="hero-description">
      <h1 class="hero-title">
        Learn to Cook
        <span class="tasty-treats">Tasty Treats'</span> Customizable Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient Options and
        Step-by-Step Video Guides.
      </p>
      <button
        type="button"
        class="hero-order-btn js-open-modal js-btn-basket"
        data-modal="1"
      >
        Order now
      </button>
    </div>
    <div class="swiper-hero">
      <div class="swiper swiper-hero">
        <div class="swiper-container swiper-wrapper"></div>
      </div>
      <div class="page"></div>
    </div>
  </div>
</section>
