<div class="detailInfoRecipe is-hidden">
  <button type="button" class="btn-close-recipe">
    <svg class="btn-close-icon-recipe" width="24" height="24">
      <use href="/img/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <div class="insertDataBackend"></div>
  <!-- цей пустий дів є маркером. -->
  <!-- тут буде відмальовуватися інфа з бекенду -->
  <h1 class="title">${title}</h1>
  <li class="media-source">
    <iframe
      src="${youtube}"
      width="460"
      height="250"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </li>
  <div class="tags-list">${getTags(tags)}</div>
  <div class="ratingAndTime">
    <li>${rating}</li>
    <li>${time}</li>
  </div>
  <div class="ingredient-cover">${getIngredients(ingredients)}</div>
  <p class="description-recipe">${instructions}</p>

  <button class="btn-addFavorites" type="send">
    <span>Add to favorite</span>
  </button>
  <button class="btn-giveRating" type="send">
    <span>Give a rating</span>
  </button>
</div>
