<div class="detailInfoRecipe is-hidden">
  <button type="button" class="btn-close-recipe">
    <svg class="btn-close-icon-recipe" width="24" height="24">
      <use href="/img/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <div class="insertDataBackend"></div>
  <!-- цей пустий дів є маркером. -->
  <!-- тут буде відмальовуватися інфа з бекенду -->
  <button class="btn-addFavorites" type="send">
    <span>Add to favorite</span>
  </button>
  <button class="btn-giveRating" type="send">
    <span>Give a rating</span>
  </button>
</div>
