<div class="btn-order-now-container modal" data-modal="1">
  <button type="button" class="btn-close js-modal-close">
    <svg class="btn-close-icon" width="24" height="24">
      <use href="/img/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <h2 class="order-now">Order now</h2>
  <form>
    <div class="form-field input-name">
      <label for="name">Name</label>
      <input type="text" id="name" />
    </div>
    <div class="form-field input-name">
      <label for="number">Phone number</label>
      <input type="tel" id="number" />
    </div>
    <div class="form-field input-name">
      <label for="email">Email</label>
      <input type="email" id="email" />
    </div>
    <div class="form-field form-comment input-name">
      <label for="comment">Comment</label>
      <textarea id="comment" cols="30" rows="5"></textarea>
    </div>

    <button class="send" type="submit">Send</button>
  </form>
</div>
