<div class="btn-order-now-container">
    <button type="button" class="">
      <svg class="btn-close-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <h2 class="order-now">
        Order now
    </h2>
    <form class="">
      <label class="">
        <span class="">
          <input
            class="input-name"
            type="text"
            name="name"
            placeholder="Name"
          />
        </span>
      </label>
      <label class="">
        <span class="">
          <input
            class="input-name"
            type="tel"
            name="number"
            placeholder="Phone number"
          />
          <svg class="tel-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-ukraine"></use>
          </svg>
        </span>
      </label>
      <label class="">
        <span class="input-email">
          <input
            class="input-name"
            type="email"
            name="email"
            placeholder="Email"
          />
        </span>
      </label>
      <label class="">
        <span class="input-name input-comment">
          <textarea
            class=""
            name="comment"
            cols="30"
            rows="10"
            placeholder="Comment"
          ></textarea>
        </span>
      </label>
      <div class="btn-send">
        <button class="send" type="send">
          <span>Send</span>
        </button>
      </div>
    </form>
</div>