<div class="popular-recipes">
    <h2 class="title-popular-recipes popular-recipes-text-transform">Popular recipes</h2>
    <div class="blok-popular">
      <img class="img-popular-recipes" src="./img/img-popular-recipes/unsplash_J9lD6FS6_cs.png" alt="french-omelette" width="64px" height="64px">
      <div class="col-popular-recipes">
        <h3 class="sub-title-popular popular-recipes-text-transform">French Omelette</h3>
        <p class="text-popular-recipes">A French omelette is a simple yet elegant dish made with whisked eggs, butter, salt, and pepper, cooked gently until light and fluffy, then folded over and served for a comforting and refined meal any time of day.</p>
      </div>
    </div>
    <div class="blok-popular">
      <img class="img-popular-recipes" src="./img/img-popular-recipes/unsplash_J9lD6FS6_cs (4).png" alt="squash-linguine" width="64px" height="64px">
      <div class="col-popular-recipes">
        <h3 class="sub-title-popular popular-recipes-text-transform">Squash linguine</h3>
        <p class="text-popular-recipes">Squash linguine is a flavorful and nutritious pasta alternative made with spiralized squash noodles, paired with a variety of delicious sauces and toppings for a satisfying and healthy meal.</p>
      </div>
    </div>
    <div class="blok-popular">
      <img class="img-popular-recipes" src="./img/img-popular-recipes/unsplash_J9lD6FS6_cs (2).png" alt="baked-salmon" width="64px" height="64px">
      <div class="col-popular-recipes">
        <h3 class="sub-title-popular popular-recipes-text-transform">Baked Salmon</h3>
        <p class="text-popular-recipes">Baked salmon is a flavorful and nutritious dish featuring tender and moist fillets seasoned with a blend of lemon juice, garlic, and olive oil.</p>
      </div>
    </div>
    <div class="blok-popular">
      <img class="img-popular-recipes" src="./img/img-popular-recipes/unsplash_J9lD6FS6_cs (3).png" alt="sugar-pie" width="64px" height="64px">
      <div class="col-popular-recipes">
        <h3 class="sub-title-popular popular-recipes-text-transform">Sugar pie</h3>
        <p class="text-popular-recipes">Sugar pie is a traditional Canadian dessert made with a rich and buttery filling of brown sugar, cream, and flour, poured into a flaky pastry crust and baked until golden brown.</p>
      </div>
    </div>
  </div>