<div class="star-reiting-box" id="starRating">
   <ul class="star-icon-list">
    <li class="star">
        <svg class="star-icon" data-value="1">
        <use href="./img/icons.svg#star"></use>
      </svg></li>
    <li class="star">
        <svg class="star-icon" data-value="2">
        <use href="./img/icons.svg#star"></use>
      </svg></li>
    <li class="star">
        <svg class="star-icon" data-value="3">
            <use href="./img/icons.svg#star"></use>
          </svg>
    </li>
    <li class="star">
        <svg class="star-icon" data-value="4">
            <use href="./img/icons.svg#star"></use>
          </svg>
    </li>
    <li class="star">
        <svg class="star-icon" data-value="5">
            <use href="./img/icons.svg#star"></use>
          </svg>
    </li>
   </ul>
  </div>

  <!-- <span class="star" data-value="1"></span>
  <span class="star" data-value="2"></span>
  <span class="star" data-value="3"></span>
  <span class="star" data-value="4"></span>
  <span class="star" data-value="5"></span> -->