body {
  background-color: var(--background-main-color);
  color: var(--black-color);

  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.29;
  /* letter-spacing: -0.02em; */
}

.container {
  width: 100%;
  max-width: var(--breakpoint-mobile);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: var(--outer-container-width-mobile);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--outer-container-width-tablet);
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: var(--outer-container-width-desktop);
  }
}
