.categories {
  width: 326px;
  /* height: 322px; */
  padding: 0px;
  /* margin-bottom: 40px; */
}

@media only screen and (min-width: 768px) {
  .categories {
    width: 176px;
    /* height: 546px; */
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .categories {
    width: 235px;
    /* height: 558px; */
  }
}

.categories-all-btn {
  font-size: 18px;
  padding: 14px 29px;
  justify-content: center;
  align-items: center;
  background: var(--background-w);
  border-radius: 15px;
  border: 1px solid var(--gray-border-w);
  color: var(--gray-title-w);
  font-weight: 500;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .categories-all-btn {
    padding: 14px 28px;
  }
}
.category-btn:hover,
.category-btn:focus {
  color: var(--green);
}
.categories-all-btn:hover,
.categories-all-btn:focus {
  color: var(--white-w);
  background: var(--green);
  border: 1px solid var(--green);
}

.category-btn.active {
  color: var(--green);
}

.categories-all-btn.active {
  color: var(--white-w);
  background: var(--green);
  border: 1px solid var(--green);
}

.categories-list-box {
  margin-top: 24px;
  overflow-y: scroll;
  width: 326px;
  height: 198px;
  display: flex;
  gap: 18px;
}

@media only screen and (min-width: 768px) {
  .categories-list-box {
    width: 176px;
    height: 416px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .categories-list-box {
    width: 235px;
    margin-top: 42px;
  }
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: none;
  padding-top: 0;
  padding-left: 0;
}

.category-item {
  /* margin-bottom: 18px; */
}

.category-btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-ul-w);
  border: 0;
  background: var(--background-w);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Работает в Firefox */
.categories-list-box {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-border-w);
}

/* Работает в Chrome, Edge и Safari */
.categories-list-box::-webkit-scrollbar {
  width: 8px;
}

/*  */
.categories-list-box::-webkit-scrollbar-thumb {
  background-color: var(--gray-border-w);
  border-radius: 12px;
}

/**
  |============================
  | Gallery home
  |============================
*/
.gallery-block-flex {
  display: flex;
}

.gallery-home-js {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-home-recipe {
  max-width: 250px;
}
