.favorites-top-header {
  width: 335px;
  margin: 20px auto 44px;
}
@media only screen and (min-width: 768px) {
  .favorites-top-header {
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .favorites-top-header {
    width: 1080px;
  }
}

.current-page {
  color: var(--green);
}

.favorites-hero-img {
  width: 335px;
  margin-bottom: 64px;
  border-radius: 15px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .favorites-hero-img {
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .favorites-hero-img {
    width: 1080px;
  }
}

.favorites-block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.favorites-taxt {
  display: block;
  margin: auto;
  text-align: center;

  padding-top: 32px;
  padding-bottom: 64px;

  color: var(--black);
  text-align: center;
  font-family: Inter;
  font-style: normal;
  line-height: 1, 5;
  max-width: 481px;
  text-align: center;
}

.favorites-display-none {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .favorites-display-none {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.recipes-favorit-item {
  position: relative;
  width: 335px;
  height: 335px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--gallery-gradient);
}

@media only screen and (min-width: 768px) {
  .recipes-favorit-item {
    width: 224px;
    height: 244px;
  }
}

@media only screen and (min-width: 1280px) {
  .recipes-favorit-item {
    width: 258px;
    height: 287px;
  }
}
