.top-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 65px;
}

/* @media only screen and (max-width: 767px) {
  .top-header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
} */

/* @media only screen and (min-width: var (--breakpoint-tablet)) and (max-width: var(--breakpoint-desktop)) {
  .top-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
} */

.top-header-container {
  display: flex;
  align-items: center;
  /* min-height: 40px; */
}

.header-menu-nav {
  display: none;
}

/* @media only screen and (max-width: 1199px) {
  .header-menu-nav {
    display: none;
  }
} */

.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 16px;
  /* margin-left: 188px; */
  /* margin-right: 137px; */
}

/* @media only screen and (min-width: 1200px) {
  .header-menu-link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
} */

.header-menu-link {
  position: relative;

  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: var(--black);
  transition: color var(--);
}

.header-menu-link:is(:hover, :focus) {
  color: var(--green);
}

/* ЛОГОТИП */

.header-logo {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.72px;

  color: var(--black);
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.header-logo-part {
  color: var(--green);
}

/* @media only screen and (min-width: 1200px) {
  .header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;

    letter-spacing: -0.03em;
  }
} */

/* ІКОНКИ: КОРЗИНА, РАДІІОБАТОН, БУРГЕР */

.header-icon-list {
  display: flex;
  align-items: baseline;

  gap: 14px;
  margin-left: auto;
}

.header-basket-icon,
.header-burger-icon {
  stroke: var(--black);
  fill: none;
  /* transition: stroke var(--); */
}

:is(.header-basket-icon, .header-burger-icon):hover,
:is(.header-basket-icon, .header-burger-icon):focus {
  stroke: var(--green);
}

.header-basket-icon {
  height: 24px;
  width: 24px;
}

.header-burger-icon {
  height: 32px;
  width: 32px;
}

/* МЕДІА. ІКОНКИ: КОРЗИНА, РАДІІОБАТОН, БУРГЕР*/
@media only screen and (max-width: 768px) {
  .header-switch-icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-burger-icon {
    display: none;
  }
}

/* MOBILE MENU */

.menu-container {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  width: 220px;
  height: 100%;
  overflow-y: auto;

  /* background-color: var(--background-deep-violet-color); */
  /* z-index: 999; */

  /* transform: translateX(100%);
  transition: transform 400ms cubic-bezier(0.25, 0.01, 0, 1); */
}

/* @media only screen and (min-width: 768px) {
  .menu-container {
    width: 290px;
  }
} */

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* @media only screen and (min-width: 768px) {
  .menu-container .menu-toggle {
    top: 24px;
    right: 32px;
  }
} */

.menu-toggle {
  /* min-height: 40px; */
  /* min-width: 40px; */

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  border: none;
  border-radius: 50%;
}

/* @media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
} */

.menu-toggle-close-btn {
  stroke: var(--);
  width: 28px;
  height: 28px;
  /* transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.menu-toggle-close-btn:is(:hover, :focus) {
  stroke: var(--);
  scale: 1.3;
}

.mobile-menu {
  margin-bottom: auto;
  padding-top: 136px;
  padding-left: 50px;
  /* display: block; */

  /* padding: 10px; */
  /* color: #fff; */
  /* text-decoration: none; */
}

/* @media only screen and (min-width: 768px) {
  .mobile-menu {
    padding-top: 156px;
    padding-left: 85px;
  }
} */

.mobile-menu-items {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: var(--black);
  /* transition: color var(--cubic-bezier), font-weight var(--cubic-bezier); */
}
.mobile-menu-items:is(:hover, :focus) {
  color: var(--green);
  font-weight: 600;
}

.mobile-menu-items:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-menu-items:last-child {
  margin-bottom: 40px;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 50%;
  /* height: 4px; */

  /* border-radius: 2px; */

  background-color: var(--green);
  /* bottom: 1px; */
}

.mobile-menu-link:is(:hover, :focus)::after {
  /* color: var(--accent-orange-color); */
  /* content: ''; */
  position: relative;
  /* bottom: -8px; */
  /* left: 0; */

  display: block;
  width: 50%;
  /* height: 1px; */

  /* border-radius: 2px; */

  /* background-color: var(--accent-orange-color); */
  /* transition: background-color var(--cubic-bezier); */
}

.mobile-menu-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.mobile-menu-items.active {
  color: var(--);
}

/* MOBILE ICON-SWITCH */

.mobile-tool-icon {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* @media only screen and (min-width: 768px) {
  .mobile-tool-icon {
    margin-left: 32px;
    margin-bottom: 24px;
  }
} */

/* .mobile-tool-list-item {
} */

.mobile-tool-list-link {
  display: flex;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* mobile-tool-list-link:is(:hover, :focus) {
  background-color: var(--ocean-button-color);
} */

.mobile-tool-list-icon {
  stroke: var(--white-w);
  width: 22px;
  height: 22px;
  /* transition: stroke var(--cubic-bezier); */
}

/* @media only screen and (min-width: 768px) {
  .mobile-tool-list-icon {
    width: 24px;
    height: 24px;
  }
} */

/* @media only screen and (max-width: 1199.9px) {
  .mobile-tool-list-icon:is(:hover, :focus) {
    stroke: var(--accent-orange-color);
  }
} */
