.left-side {
  display: flex;
  flex-wrap: wrap;
}

.hero-title {
  color: var(--black);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.2px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-title-part {
  color: var(--green);
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-desc {
  color: var(--black);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 28px;
}

.hero-title {
  display: flex;
  flex-wrap: wrap;
}

.hero-order-btn {
  display: inline-flex;
  padding: 10px 20px;
  gap: 10px;

  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: 1px solid var(--green);
  border-radius: 12px;

  min-width: 111px;
  height: 37px;

  margin-bottom: 48px;

  /* transition: background-color var(--cubic-bezier), color var(--cubic-bezier); */
}

.hero-order-btn:is(:hover, :focus) {
  color: var(--white-w);
  background-color: var(--green);
}

/* @media only screen and (min-width: 375px) {
  .hero-order-btn {
    padding: 12px 28px;
    min-width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-order-btn {
    padding: 14px 40px;
    min-width: 144px;
    height: 45px;
  }
} */

/* right-side */
.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}
