.tui-pagination * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tui-ico-ellipsis, .tui-ico-first, .tui-ico-last, .tui-ico-next, .tui-ico-prev {
    overflow: hidden;
}

.tui-pagination {
    height: 40px;
    margin: 0 0 80px;
    line-height: normal;
    text-align: center;
    font-size: 0;
    
}

@media only screen and (min-width: 768px) {
    .tui-pagination{
        height: 44px;
        margin-bottom: 100px;
    }
}

.tui-pagination .tui-page-btn {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px; 
    padding: 11px 0 6px; 
    margin-left: 5px;
    color: var(---black);
   
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid var(--green);
    border-radius: 50%;
}
@media only screen and (min-width: 768px) {
    .tui-pagination .tui-page-btn {
        width: 44px;
         height: 44px; 
        
    }
}
.tui-pagination .tui-page-btn:hover {
    transform: scale(1.1);
    /* border: 1px solid var(--gray-descrip-w);
    color: var(--); */
}

.tui-pagination .tui-is-selected, .tui-pagination strong {
    color: var(--white-w);
    background: var(--green);
    border-color: var(--green);
    cursor: default;
}

.tui-pagination .tui-is-selected:hover {
    transform: scale(1.1);

    /* background: var(--green);
    border: 1px solid var(--green); */
}

.tui-pagination .tui-first-child.tui-is-selected, .tui-pagination strong.tui-first-child {
    margin-left: 4px
}

.tui-pagination .tui-first-child, .tui-pagination .tui-prev-is-ellip {
   
      margin-left: 4px;
} 

.tui-pagination .tui-prev-is-ellip {
    display: none;
}
.tui-pagination .tui-first, .tui-pagination .tui-prev, .tui-pagination .tui-next, .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
    overflow: hidden;
    height: 40px;
    padding: 0;
    font-size: 0;
    line-height: 40px;
    white-space: nowrap;
    font-weight: normal;
    background: var(--white-w);
    border: 1px solid var(--green);
}

.tui-pagination .tui-first, .tui-pagination .tui-prev, .tui-pagination .tui-next, .tui-pagination .tui-last {
    background: var(--green);
}

@media only screen and (min-width: 768px) {
    .tui-pagination .tui-first, .tui-pagination .tui-prev, .tui-pagination .tui-next, .tui-pagination .tui-last, .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
       
    height: 44px}
}

.tui-pagination .tui-ico-first, .tui-pagination .tui-ico-prev, .tui-pagination .tui-ico-next, .tui-pagination .tui-ico-last, .tui-pagination .tui-ico-ellip {
    background: no-repeat url("/img/sp_btn.png"); 
    background-position: 0 0;
   
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    color: var(--black);
}

.tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
    padding: 0;
    line-height: 1;
}

.tui-pagination .tui-prev {
    margin-right: 10px;
}

.tui-pagination .tui-next {
    margin-left: 14px;
}

.tui-pagination .tui-ico-first {
    width: 11px;
    height: 10px;
    background-position: 0px 0px 
}

.tui-pagination .tui-ico-prev {
    width: 6px;
    height: 10px;
    background-position: -26px 0px 
}

.tui-pagination .tui-ico-next {
    width: 6px;
    height: 10px;
    background-position: -13px -24px
}

.tui-pagination .tui-ico-last {
    width: 11px;
    height: 10px;
    background-position: 0px -12px
}

.tui-pagination .tui-ico-ellip {
    width: 10px;
    height: 2px;
    margin-top: 26px;
    vertical-align: top;
    color: var(--black);
    background-position: 0px -24px
}

.tui-pagination .tui-is-disabled:hover {
    transform: scale(1.1);
    /* background: var(--black);
    border: 1px solid var(--green);
    cursor: default */
}

.tui-pagination .tui-is-disabled {
    background: #050505;
    border: 1px solid #050505;
}

.tui-pagination .tui-is-disabled .tui-ico-prev {

    background-position: -26px -12px
}

.tui-pagination .tui-is-disabled .tui-ico-first {
    background-position: -13px 0px
}

.tui-pagination .tui-is-disabled .tui-ico-next {
    background-position: -21px -24px
}

.tui-pagination .tui-is-disabled .tui-ico-last {
    background-position: -13px -12px
}

.tui-page-inputs {
    display: inline-block;
    vertical-align: top;
}

.tui-page-inputs .tui-page-input {
    display: inline-block;
    width: 10px;
    height: 12px;
    padding: 8px 0 6px;
    font-size: 12px;
    text-align: center;
    color: #333;
    border: 0;
    outline: none;
}

.tui-page-inputs .tui-page-current {
    color: var(--green)6
}

.tui-page-separator {
    display: inline-block;
    font-size: 12px;
    height: 12px;
    padding: 8px 0 6px;
    vertical-align: top
}
