/* ----------------popular-recipes-------------------- */

.popular-recipes {
  width: 235px;
  display: block;
}
.title-popular-recipes {
  margin-bottom: 30px;
}
.popular-recipes-text-transform {
  text-transform: uppercase;
}
.img-popular-recipes {
  display: inline-block;
  margin-right: 10px;
  border-radius: 7px;
  
}
.col-popular-recipes {
  display: inline-block;
}
.sub-title-popular {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 155px;
  white-space: nowrap;
}

.blok-popular {
  position: relative;
  margin-bottom: 20px;
}

.text-popular-recipes {
  width: 155px;
  font-size: 10px;
  line-height: 14px;
  max-height: 41px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}


@media (max-width: 425px) {
  .popular-recipes {
    margin-left: 20px;
  }
}