/* gallery */
.main-products-filter-gallery-list {
}
@media only screen and (min-width: 768px) {
  .main-products-filter-gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
}
