/* gallery */
.main-products-filter-gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .main-products-filter-gallery-list {
    width: 498px;
    gap: 32px 16px;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .main-products-filter-gallery-list {
    width: 782px;
  }
}

/* newStyle */
.recipes-item {
  position: relative;
  width: 335px;
  height: 335px;
  border: 1px solid var(--gray-border-w);;
  border-radius: 8px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .recipes-item {
    width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1280px) {
  .recipes-item {
    width: 250px;
    height: 287px;
  }
}

.photo-thumb {
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, rgba(5, 5, 5, 0.60) 4.82%, rgba(5, 5, 5, 0.00) 108.72%), url(<path-to-image>), lightgray -25px -10px / 116.716% 114.018% no-repeat;
  object-fit: cover;
}
.pic-recipe {

}
.btn-favorite {
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  fill: none;
  stroke: var(--gray-star-w2);
  /* opacity: 0; */
}
.icon-favorite {
  fill: var(--white-w);
  stroke: var(--white-w);
}
.description-recipe-cover {
  width: 303px;
  position: absolute;
  display: flex;
  flex-direction: column;
 
  gap: 8px;
  top: 214px;
  left: 16px;
}
@media only screen and (min-width: 768px) {
  .description-recipe-cover{
    width: 208px;
    top: 143px;
  }
}
@media only screen and (min-width: 1280px) {
  .description-recipe-cover{
    top: 166px;
    width: 218px;
  }
}
.description-recipe-title {
height: 18px;
overflow: hidden;
color: var(--white-w);
font-size: 14px;
font-weight: 600;
line-height: 18px; 
text-transform: uppercase;

}
.description-recipe-text {
  width: 303px;
  height: 32px;
  flex-shrink: 0;
 
  overflow: hidden;
  color: var(--white-w);
  text-overflow: ellipsis;
  whitespace: nowrap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
}

@media only screen and (min-width: 768px) {
  .description-recipe-text{
    width: 218px;
}
}
@media only screen and (min-width: 1280px) {
  .description-recipe-text{
    width: 208px;
  }
}
.popular-recept-box {
  display: flex;
  flex-direction: row;
  gap: 98px;
  width: 303px;
  height: 31px;
}
@media only screen and (min-width: 768px) {
  .description-recipe-box{
    width: 208px;
    gap: 23px;
}
}
@media only screen and (min-width: 1280px) {
  .description-recipe-box{
    width: 218px;
    gap: 9px;
  }
}
.div-popular-recipe {
}
.div-popular-recipe-rating {
}
.star-recipe-cover-preview {
}
.star-recipe-reting {
}
.btn-detail-info {
}
